html,
body {
  text-align: center;
  background-image: url('../public/dark_wall.jpg');
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  min-width: 320px;
  width: 100%;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
